---
---

@import "{{ site.theme }}";

.page-header{

color: $header-heading-color;
  text-align: center;
  background: url(../image/frontground.jpg) ;
  background-repeat: no-repeat;
background-size: cover;
}

