---
---

@import "{{ site.theme }}";

.page-header{

color: $header-heading-color;
  background-size: 300px 150px;;
  text-align: center;
  background: url(../image/frontground.jpg) ;
  background-repeat: no-repeat;
background-size: contain;
}